*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
#header{
    background-color: #FFBF61;
    /* height: 50px; */
    padding: 10px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logoImg{
    width: 130px;
    height: 40px;
    border-radius: 10%;
}
#searchInput{
    height: 50px;
    width: 500px;
    border-radius: 20px;
    border-color: #fff;
}
.buttons{
    overflow-x: scroll;
    margin-top: 30px;
    margin-bottom: 30px;
}
.button{
    background-color: #cac8c4;
    padding: 10px;
    border-radius: 10px;
}
.btn{
    background-color: #000;
    border-color: #000;
    color: #fff;
}
#videoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    vertical-align: top;
}
.video{
    height: 200px;
    width: 300px;
}
#channelInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#channelLogo{
    border-radius: 50%;
    width: 50px;
}
#videoTitle{
    font-size: 18px;
    font-weight: 500;
}
#views{
    font-size: 12px;
    opacity: 0.5;

}